/* Place CSS styles here */

body {
    color:rgb(29, 96, 29);
    background-color:rgb(194 189 118);

}
.backsplash-bg {
    height:600px;
    background-image: url(../img/backsplash.PNG);
    background-repeat: no-repeat;
    background-position: top;
}
.rose{
    transform-origin: 25% 36%;
    position:absolute;
    height: 590px;
    top:-54px;
    left:18px;
z-index: 2;
}
.vase{
    position:absolute;
    height: 630px; 
    top: -99px;
    z-index: 1;
}
.rose:hover{
    animation: spin 2s;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 .EggBacon{ 
    position: absolute;
    display: inline-flex;
    height: 662px;
    top: 800px;
    z-index: 1;
}
.sizzle{
    position: absolute;
    display: inline-flex;
    height: 656px;
    top: 4px;
    z-index: 1;
    animation: sizzle 0.3s infinite alternate ease-in-out;
}
.sizzle:hover{
    animation: sizzleEffect 0.3s infinite alternate ease-in-out;
}
@keyframes sizzleEffect {
    0% {
        transform: scale(1);
        filter: blur(0px) brightness(1);
    }
    50% {
        transform: scale(1.05);
        filter: blur(1px) brightness(1.2);
    }
    100% {
        transform: scale(1);
        filter: blur(0px) brightness(1);
    }
}
.paper{
    position:absolute;
    height:549px;
    top: 214px;
    left: 291px;
    z-index:2;
}
.butter{
    position:absolute;
    height: 220px;
    top: 550px;
    z-index:2;

}
.knife{
    position: absolute;
    height: 126px;
    top: 520px;
    z-index: 2;
}
.coffee{
    position: absolute;
    display: inline-flex;
    height: 502px;
    top: -459px;
    margin:661px;
    z-index: 2;
    transition: transform 0.3s ease-in-out, drop-shadow 0.3s ease-in-out;
}

.coffee:hover {
    transform: translateY(-10px); /* Moves the coffee up slightly */
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.3)); /* Adds a floating shadow */
}
.Pancake-video{
    margin:938px;
    position: absolute;
    top:798px;
   height: 720px;
   width:auto;
   z-index: 0;
}



